on: [push, pull_request]

name: ApiProgen

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Install mysql
        run: |
          sudo apt-get update
          sudo apt-get -y install mysql-server libmysqlclient-dev
          sudo /etc/init.d/mysql start
          mysql -e "create database api_progen; grant all on \`api_progen\`.* to 'root'@'localhost';" -uroot -proot
          echo '::set-env name=DATABASE_URL::mysql://root:root@localhost/api_progen'

      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install nightly toolchain with test available
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true

      - name: Install dependencies 
        run: |
          sudo apt-get update
          sudo apt-get -y install libmysqlclient-dev
          
      - name: Run cargo test
        run: |
          cargo install diesel_cli --no-default-features --features mysql
          diesel setup
          mysql api_progen -e "show tables" -uroot -p'root'
          RUST_BACKTRACE=1 cargo test -- --nocapture

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install nightly toolchain with clippy available
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: clippy

      - name: Install dependencies 
        run: |
          sudo apt-get update
          sudo apt-get -y install libmysqlclient-dev

      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        continue-on-error: false
        with:
          command: clippy
          args: -- -D warnings

